<div class="container text-center mt-3">
    <main>
        <div class="row h-100 justify-content-evenly align-items-center">
            <div class="col-3 h-100">
                <img src="profilePicture.jpeg" alt="Foto de perfil" class="img-fluid rounded-circle p-3" width="300">
            </div>
            <div class="col-6">
                <h2>Sobre Mim</h2>
                <p class="text-start">
                    Olá. Meu nome é Lucas e sou desenvolvedor FullStack Java utilizando Spring, atualmente cursando
                    Engenharia da computação na
                    Descomplica. Sou de Pernambuco e tenho 24 anos.
                </p>
            </div>
        </div>
        <hr class="mx-4">
        <div class="row justify-content-evenly align-items-center my-4">
            <div class="col-3 d-flex gap-3 justify-content-center">
                <img src="angularLogo.png" alt="" class="img-fluid" width="100">
                <img src="springLogo.svg" alt="" class="img-fluid" width="72">
            </div>
            <div class="col-6">
                <h2>Sobre o projeto</h2>
                <p class="text-start">
                    Este projeto foi desenvolvido como parte do bootcamp Decola Tech 2025, promovido pela Avanade em
                    parceria com a DIO. O projeto tem como objetivo criar um sistema fullstack de gerenciamento para uma
                    barbearia utilizando Spring Boot e Angular. O sistema permite o agendamento de horários,
                    gerenciamento de serviços e horários de funcionamento.
                </p>
            </div>
        </div>
    </main>
</div>