<div class="container mt-3">
  <div class="row justify-content-center align-items-center ">
    <img class="col-12 order-md-2 col-md-2 mb-3 mb-lg-0" src="whiteLogo.svg" alt="" width="auto" height="80">
    <div class="col text-center order-md-0 col-md-2 col-lg-1">
      <a class="" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </div>
    <div class="col text-center order-md-1 col-md-2 col-lg-1">
      <a class="" routerLink="/agenda" routerLinkActive="active">Agenda</a>
    </div>
    <div class="col text-center order-md-3 col-md-2 col-lg-1">
      <a class="" routerLink="/sobre">SOBRE</a>
    </div>
    <ng-container *ngIf="userName == ''">
      <div class="col text-center order-md-4 col-md-2 col-lg-1">
        <a class="" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">LOGIN</a>
      </div>
    </ng-container>
    <ng-container *ngIf="userName != ''">
      <div class="col text-center order-md-4 col-md-2 col-lg-1">
        <div class="dropdown ">
          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{userName}}
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button" (click)="logout()">Sair</button></li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
</div>