@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,
body {
  height: 100%;
  background-color: #0f0f0f !important;
}

* {
  margin: 0;
}