@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,
body {
  height: 100%;
  background-color: #0f0f0f !important;
}

* {
  margin: 0;
}

::-webkit-scrollbar{
  width: 7px;
  height: 5px
}

::-webkit-scrollbar-track{
 background-color: white;
}

::-webkit-scrollbar-thumb{
  background-color: #827f7f;

}
::-webkit-scrollbar-thumb:hover{
  transition: ease-in-out .2s all;
  background-color: #dbb042;

}