<div class="container">
    <div class="row mt-5 d-flex align-items-center p-4">
        <!-- Imagem -->
        <div class="col-12 col-lg-6">
            <img src="/barberman.jpg" class="img-fluid w-100">
        </div>
        <!-- Texto -->
        <div class="col-12 col-lg-6 mt-3 text-white pb-3">
            <h1 class="title mb-lg-3">Mais que uma barbearia, uma experiência de estilo</h1>
            <h5 class=" mb-lg-4">Tradição, estilo e precisão em cada detalhe.</h5>
            <p class="fs-6 fw-normal">No nosso barber shop, cada corte é uma experiência que resgata a essência da
                barbearia
                clássica.
                Aqui, tradição e estilo se encontram para oferecer o melhor cuidado para sua barba e cabelo. Agende
                seu horário e sinta a diferença de um serviço feito com maestria!</p>
            <button class="btn mt-lg-4 mb-1" routerLink="/agenda/novo-agendamento">Agende agora!</button>
        </div>
    </div>
</div>