<div class="container">
    <div class="row mt-5 align-items-center">
        <!-- Imagem -->
        <div class="col-lg-6 col-md-12 col-12 p-0 order-md-1 order-lg-1">
            <img src="/barberman.jpg" class="img-fluid w-100">
        </div>
        <!-- Texto -->
        <div class="col-lg-6 col-md-12 col-12 text-light title p-md-4 p-3 order-md-2 order-lg-2">
            <h1 class="fw-bold">Mais que uma barbearia, <br> uma experiência de estilo</h1>
            <h2 class="fs-4">Tradição, estilo e precisão em cada detalhe.</h2>
            <p>No nosso barber shop, cada corte é uma experiência que resgata a essência da barbearia clássica. Aqui, tradição e estilo se encontram para oferecer o melhor cuidado para sua barba e cabelo. Agende seu horário e sinta a diferença de um serviço feito com maestria!</p>
            <button class="btn mt-3">Agende agora!</button>
        </div>
    </div>
</div>
