.row {
    background-color: #242424;
    border: #dbb042 1px solid;
}
.title {
    font-family: "Lobster", serif;
    letter-spacing: .09rem;
}
p{
    font-family: "Roboto" !important;
    font-size: large;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6rem;
}
.btn{
    color: white;
    margin-top: 15px;
    border: 2px solid #dbb042;
    border-radius: 0;
    &:hover{
        background-color: #dbb042;
        color: #242424;
    }
}